.list-group-item {
    color: white;
    background-color: gray;
    font-weight: 100px;
}

.search_title{
    color: blue;
    font-size: 40px;
    font-weight: 100px;
    cursor: pointer;
}

.input{
    display: flex;
}




